<div class="navbuttons">
  <input type="checkbox" id="toggle" />
  <label for="toggle">MENU</label>
  <label class="close-menu" for="toggle"></label>
  <nav>
    <ul>
      <li>
        <a href="index.html">
          <p>Home</p>
        </a>
      </li>
      <li>
        <a href="about.html">
          <p>About Me</p>
        </a>
      </li>
      <li>
        <a href="contact.html">
          <p>Contact</p>
        </a>
      </li>
      <li class="theme-toggle-wrapper">
        <button
          aria-pressed="false"
          aria-label="Show more information"
          class="theme-toggle"
        >
          <img src="<%=require(".././images/theme.svg").default%>" alt=""
          srcset="">
        </button>
        <p class="theme-tooltip">theme</p>
      </li>
    </ul>
  </nav>
</div>
