<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="title" content="Front End Developer - Carlos Hernández" />
    <meta
      name="description"
      content="I’m a writer and an economist, but I also do web development. Check out the fun things I've build"
    />
    <meta name="keywords" content="developer, remote, react" />
    <meta name="language" content="English" />

    <meta property="og:title" content="Front End Developer - Carlos Hernández"">
    <meta
      property=" og:description"
      content="I’m a writer and an economist, but I also do web development. Check out the fun things I've build"
    />
    <meta property="og:url" content="https://carlos815.github.io/portfolio/" />
    <meta
      property="og:site_name"
      content="Front End Developer - Carlos Hernández"
    />
    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:description"
      content="I’m a writer and an economist, but I also do web development. Check out the fun things I've build 😇"
    />
    <meta name="twitter:title" content="Front End Developer - Carlos
    Hernández"">
    <meta name=" twitter:site" content="@carlos_t815" />

    <title>Front End Developer - Carlos Hernández</title>
  </head>

  <body>
    <%- include components/header.ejs %>
    <section class="page">
      <h1>Contact me</h1>
      <p>Email: carlos_t815@outlook.com</p>
      <p>Phone Number: +57 3196655253</p>
      <p>Twitter: <a href="https://twitter.com/Carlos_t815">@Carlos_t815</a></p>
    </section>
  </body>
</html>
