<h1>My Stack</h1>
<p>This is the list of the technologies I use, with links to examples</p>
<ul class="tree">
  <li class="first">
    Front End Basics
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
    </ul>
  </li>
  <li>
    Javascript Libraries
    <ul>
      <li>
        React.js
        <ul>
          <li>
            <a href="https://carlos815.github.io/CC-clone/">Hooks</a>|<a
              href="https://github.com/carlos815/CC-clone"
              >(Source)</a
            >
          </li>
          <li>
            <a href="https://pedantic-feynman-eb9538.netlify.app/">Redux</a>|<a
              href="https://github.com/carlos815/letras-redux"
              >(Source)</a
            >
          </li>
          <li>
            <a href="https://duolingo-clone-smoky.vercel.app/">Context API</a
            >|<a href="https://github.com/carlos815/duolingo-clone">(Source)</a>
          </li>
          <li>
            <a href="https://duolingo-clone-smoky.vercel.app/"
              >React Testing Library</a
            >|<a href="https://github.com/carlos815/duolingo-clone">(Source)</a>
          </li>
        </ul>
      </li>
      <li>
        Vue
        <ul>
          <li>
            <a href="https://carlos815.github.io/web-vue-livestreaming"
              >Nuxt.js</a
            >|<a href="https://github.com/carlos815/web-vue-livestreaming"
              >(Source)</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    Javascript Frameworks
    <ul>
      <li>
        <a href="https://optimistic-elion-2c79ea.netlify.app/">Gatsby.js</a>|<a
          href="https://github.com/carlos815/gatsby-starter-netlify-cms"
          >(Source)</a
        >
        <ul>
          <li>Deploy to Netlify</li>
          <li>CMS Support</li>
          <li>GraphQL</li>
          <li>Image Optimization</li>
        </ul>
      </li>
      <li>
        <a href="https://duolingo-clone-smoky.vercel.app/">Next.js</a>|<a
          href="https://github.com/carlos815/duolingo-clone"
          >(Source)</a
        >
        <ul>
          <li>Deploy to Vercel</li>
          <li>Server Side Rendering</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    CSS Tools
    <ul>
      <li>
        Precompilers
        <ul>
          <li>
            <a href="https://optimistic-elion-2c79ea.netlify.app/">SASS</a>
          </li>
        </ul>
      </li>
      <li>
        CSS Frameworks
        <ul>
          <li>
            <a href="https://optimistic-elion-2c79ea.netlify.app/">Tailwind</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    Package Managers
    <ul>
      <li>npm</li>
      <li>yarn</li>
    </ul>
  </li>
  <li class="last">
    Build Tools
    <ul>
      <li>
        <a href="https://github.com/carlos815/portfolio">Webpack</a>
      </li>
    </ul>
  </li>
</ul>
<p>I also dabble in some backend stuff, app development and even data analysis. Here are the non-web-development tools that I use:</p>
<ul class="tree">
  <li class="first">
    Version Control Systems
    <ul>
      <li>Git</li>
      <li>
        Repo hosting services
        <ul>
          <li>GitHub</li>
          <li>Vercel</li>
          <li>Heroku</li>
          <li>Netlify</li>
        </ul>
      </li>
    </ul>
    
  </li>
  <li>
    KeystoneJS
    <ul>
      <li>Custom mutations
      </li>
      <li>Custom Schemas</li>
      <li>Stripe integration</li>
      <li>Cloudinary integration</li>
      <li>Deployment</li>

    </ul>
  </li>
  <li>
    Node.js
    <ul>
      <li>
        Web Scrapping
        <ul>
          <li>Cheerios</li>
          <li>Instagram API</li>
          <li>Puppeteer</li>
          <li>Telegram</li>
        </ul>
      </li>
      <li>Axios</li>
    </ul>
  </li>
  <li>
    <a href="https://play.google.com/store/apps/details?id=com.carlos.laslucas"
      >Flutter</a
    >
    <ul>
      <li>Cloud Firestore</li>
      <li>Firestore Auth</li>
      <li>Provider</li>
      <li>API Requests</li>
    </ul>
  </li>
  <li class="last">
    Python
    <ul>
      <li>
        <a
          href="https://colab.research.google.com/drive/11gX5ar_q2w545qYt-XwFa5JWNKgwQdhM?usp=sharing"
          >Data</a
        >
        <ul>
          <li>Pandas</li>
          <li>Plot.ly</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
