* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s linear;
}

*:focus {
    outline-width: 1px;
    outline-style: dotted;
    outline-color: var(--main-color);
}

@font-face {
    font-family: SourceCode;
    src: url(SourceCodePro-Regular.otf.woff2);
}

@font-face {
    font-family: SourceCode;
    src: url(SourceCodePro-Bold.otf.woff2);
    font-weight: bold;
}

:root {
    /*Add different themes with the themeChanger.js file*/
    --main-font: monospace;
    --h1: normal bold min(max(36px, 7vw), 72px) /1.2 var(--main-font);
    --p: normal normal min(max(14px, 4vw), 24px) /1.2 var(--main-font);
    --small: normal normal min(max(9px, 2.5vw), 18px) /1.2 var(--main-font);
    /*These are fallback values, they are overriden by themeChanger.js, so don't freak out when changing these does nothing*/
    --main-color: #1E1E1E;
    --secondary-color: #1E1E1E;
    --img-filter: invert(98%) sepia(1%) saturate(2185%) hue-rotate(205deg) brightness(106%) contrast(66%);
    --highlight-color: #1E1E1E;
    --comment-color: #1E1E1E;
}

::selection {
    color: var(--highlight-color);
    background: var(--main-color);
}

/*overlay*/

body::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0.3;
    z-index: 10;
    pointer-events: none;
    animation: turn-on 5s linear;
}

body::before {
    content: " ";
    opacity: 0.3;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 10;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

h1, .description p, .about-me p {
    opacity: 0;
}

.comment {
    color: var(--comment-color)
}

body {
    background-color: var(--secondary-color);
}

h1, p, li {
    color: var(--main-color);
}

.tree {
    margin-bottom: 5vw;
    margin-top: 5vw;
    text-align: left;
    list-style-position: inside;
}

.tree .first {
    list-style-type: '┌───';
}

.tree li {
    list-style-type: '├───';
}

.tree li:last-of-type {
    list-style-type: '└───';
}

/*second level*/

.tree li ul li {
    list-style-type: '│\00a0\00a0\00a0├───';
}

.tree li ul li:last-of-type {
    list-style-type: '│\00a0\00a0\00a0└───';
}

/* third level*/

.tree li ul li ul li {
    list-style-type: '│\00a0\00a0\00a0│\00a0\00a0\00a0├───';
}

.tree li ul li ul li:last-of-type {
    list-style-type: '│\00a0\00a0\00a0│\00a0\00a0\00a0└───';
}

.tree li ul li:last-of-type ul li:last-of-type {
    list-style-type: '│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└───';
}

.tree li ul li:last-of-type ul li {
    list-style-type: '│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├───';
}

/*fourth level*/

.tree li ul li ul li ul li {
    list-style-type: '│        ├───';
}

.tree li ul li ul li ul li:last-of-type {
    list-style-type: '│        └───';
}

/*last li*/

.tree .last {
    list-style-type: '└───';
}

/*second level*/

.tree .last ul li {
    list-style-type: '  ├───';
}

.tree .last ul li:last-of-type {
    list-style-type: '\00a0\00a0\00a0\00a0└───';
}

/* third level*/

.tree .last ul li:last-of-type ul li {
    list-style-type: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├───';
}

.tree .last ul li:last-of-type ul li:last-of-type {
    list-style-type: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└───';
}

/*fourth level*/

.tree .last ul li ul li ul li {
    list-style-type: '        ├───';
}

.tree .last ul li ul li ul li:last-of-type {
    list-style-type: '\00a0└───';
}

header, .page:last-of-type {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-bottom: 1px solid var(--main-color);
    text-align: left;
}

header:first-of-type h1, .page:last-of-type h1 {
    margin-bottom: 10vh 0;
    text-align: left;
}

header:first-of-type p, .page:last-of-type p {
    margin: 0;
    text-align: left;
    margin-bottom: 5vw;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5% 7%;
    border-bottom: 1px solid var(--main-color);
    align-items: stretch;
    justify-content: start;
    max-width: 1000px;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--highlight-color);
}

.page h1 {
    font: var(--h1);
    margin: 0;
    padding-bottom: 4%;
}

.page p {
    margin-bottom: 20px;
}

.page p:last-of-type {
    margin-bottom: 0;
}

p, li {
    font: var(--p);
}

.small {
    opacity: 0;
    font: var(--small);
    text-decoration: underline;
    cursor: pointer;
    margin-top: 1rem;
    width: fit-content;
}

button.small {
    background-color: transparent;
    border: none;
    color: var(--main-color);
}

.page .long-description {
    border: 1px solid var(--main-color);
    text-align: left;
}

.long-description {
    padding: 2%;
    overflow: hidden;
}

.scroll {
    font: var(--small);
    position: absolute;
    margin-bottom: 2vh;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.page .wrapper {
    justify-content: space-between;
    min-height: 30vh;
}

.page:nth-child(even) {
    text-align: right;
}

.page:nth-child(even) .small {
    align-self: flex-end;
}

.page:nth-child(odd) .wrapper {
    flex-direction: row-reverse;
}

figure, .scroll {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    transition: all 0.7s;
}

figure {
    height: 30vh;
    margin-bottom: 5vh;
    opacity: 0;
}

.scroll {
    display: flex;
    position: absolute;
    justify-content: end;
    align-items: flex-end;
    transition: all 0.7s;
}

img {
    height: 100%;
    filter: var(--img-filter)
}

.description {
    width: 100%;
    height: auto;
}

.hidden {
    display: none;
    opacity: 0;
    transition: all 0.3s linear;
}

.selected:after {
    content: '_';
    opacity: 0;
    animation: blinking 1s infinite steps(2, jump-none);
}

@keyframes blinking {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.page {
    opacity: 1;
}

.page:last-of-type a {
    color: var(--highlight-color)
}


.scrollLink {
    display: contents;
}

@media only screen and (min-width: 768px) {
    .page {
        /* display: grid;*/
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3 1fr);
        grid-template-areas: "figure description";
    }
    h1 {
        margin: 0;
        padding: 1;
    }
    .image-and-description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "figure description";
    }
    .description {
        opacity: 1;
        grid-area: "description";
    }
    figure {
        grid-area: "figure";
    }
    .page:nth-child(odd) .image-and-description figure {
        order: 1;
    }
}